*{
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #232323;
  font-family: Serif, 'Courier New', Courier, monospace;
  text-align: center;
}
#appContainer{
  height: 100%;
  width: 100%;
  min-width: 530px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#container{
  margin: 1em 0;
  width: 90%;
  min-width: 500px;
  max-width: 1500px;
  min-height: 500px;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 1px #979797;
  border-radius: 3px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  overflow: hidden;
}

#cabecera, #validar, #conceptos, #relacionadosCab, #relacionadoCab, #pagosCont{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 0.23em 0.7%;
}
#validar, #relacionadosCab, #pagosCont{
  margin: 0.23em 1em;
  padding: 0 !important;
}
.borde{
  border: 1px solid #232323;
  border-radius: 3px;
}
.cabrows{
  margin: 0.17em 0.23em;
  padding: 0.2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  flex-grow: 1;
}
.pagoAd{
  flex-wrap: wrap !important;
}
#seriefol{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  margin: 0 0.2em 0 0;
}
#serie, #folio{
  flex-grow: 1;
}
#uuidCont{
  min-width: 45%;
  flex-grow: 1;
}
#fecha, #tipoComp, #lugarExp{
  min-width: 30%;
  flex-grow: 1;
  margin: 0 0.1em;
}
#emirec, #traslaCont, .datosAdCol{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  margin: 0.3% 0.7%;
}
#emisorcont, #receptorcont, #trasAdiCont, #trasCont {
  min-width: 40%;
  border: 1px solid #232323;
  border-radius: 3px;
  flex-grow: 1;
  margin: 0.3em;
}
.concepBase{
  margin-top: 0.7em !important;
  margin-bottom: 0;
}
#trasAdiCont{
  min-width: 37% !important;
}
#emTitulo, #recTitulo{
  border-bottom: 0.5px dashed #333;
  border-radius: 3px;
}
#rfcEmi, #razonEmi, #regimenEmi, #rfcRec, #razonRec, #usoCfdi{
  padding: 0.1em;
}

.cantidad, .importeConcep, .descConcep, .precioUni{
  width: 10%;
  flex-grow: 1;
}
.descrip{
  min-width: 50%;
  flex-grow: 3;
}
#formaPago, #metodoPago, #tipoCambio, #moneda{
  text-align: left;
  padding: 0.1em;
}
#qr{
  width: 25%;
}
#compCont{
  width: 73%;
}
#versionCfdi, #fechaTimbre, #certSat, #certEmi{
  text-align: left;
  padding: 0.1em;
}
.cortarStr{
  text-align: left;
  overflow-wrap: break-word !important;
  padding: 0.2em;
}
img{
  width: 97%;
  height: auto;
}
.datoCont{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.1em 0.2em;
  flex-grow: 1;
  min-width: 12%;
}
.datoContImp{
  min-width: 17% !important;
  flex-grow: 1;
}
.datoContCenter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.1em 0.2em;
  flex-grow: 1;
  min-width: 12%;
}
.datoContTrasRetCabe{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.1em 0 0 0.3em;
  flex-grow: 1;
  min-width: 13%;
}
.datoContTrasRet{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.1em 0 0 0.3em;
  flex-grow: 1;
  width: 16.6%;
}
.datoTit{
  min-width: 10%;
  padding: 0 0.1em 0 0.1em;
  text-align: left;
  flex-grow: 1;
}
.datoD{
  text-align: right;
  min-width: 10%;
  padding: 0 0.3em 0 0.1em;
  flex-grow: 2;
}
.datoCab{
  text-align: left;
  min-width: 10%;
  padding: 0 0.1em 0 0.3em;
  flex-grow: 2;
}
.success{
  background-color: #35c7a3;
}
.warning{
  background-color: #e9cc27;
}
.danger{
  background-color: #e73f79;
}
.padText{
  padding: 0.3em 0.3em;
}
.concepDet{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}
.trasConcepCont, .retConcepCont{
  padding: 0.23em 0;
}
.bordeUpDash{
  border-top: 0.7px dashed #333;
  border-radius: 3px;
}
.bordeDownDash{
  border-bottom: 0.7px dashed #333;
  border-radius: 3px;
}
.pointer{
  background-color: #def;
  box-shadow: 0.7px .07px 0.7px #5379a3;
}
.pointerClick{
  background-color: #7ebfff;
}
.pointer:hover, .pointerClick:hover{
  cursor: pointer;
  box-shadow: 1.5px 1.5px 1.5px #3e6793;
  background-color: #57a3d7;
}
.datoContTrasRetConcep{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.1em;
}
.trasRetConcepCont, .datosAdCol{
  margin: 0.09em 0.3em !important;
}
@media (max-width: 750px) { 
  *{
    font-size: 9px;
  }
}
@media (min-width: 1100px) { 
  *{
    font-size: 13px;
  }
}
@media (min-width: 1500px) { 
  *{
    font-size: 14px;
  }
}