*{
  padding: 0;
  margin: 0;
  font-size: 9px;
  color: #232323;
  font-family: Serif, 'Courier New', Courier, monospace;
  text-align: center;
}
div{
  overflow: hidden;
  overflow-wrap: break-word;
}
#appContainer{
  min-width: 600px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
#container{
  margin: 1em 0 19px 0;
  width: 90%;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 1px #979797;
}
.cabCols, .cabColsStart{
  display: flex;
  flex-direction: column;
}
.cabCols{
  justify-content: space-around;
}
.cabColsStart{
  justify-content: flex-start;
}
.cabrows, .cabrowsStart{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.cabrows{
  justify-content: space-around;
}
.cabrowsStart{
  justify-content: flex-start;
}
.flexWrap{
  flex-wrap: wrap !important;
}
.flexGrow1{
  flex-grow: 1;
}
.flexGrow2{
  flex-grow: 2;
}
.flexGrow3{
  flex-grow: 3;
}
.flexGrow4{
  flex-grow: 4;
}
.width75{
  min-width: 74%;
}
.minWidth2{
  min-width: 49%;
}
.width30{
  min-width: 30%;
}
.width20{
  min-width: 19%;
}
.width16{
  width: 16%;
}
.width12{
  min-width: 12%;
}
.textAlL{
  text-align: left;
}
.textAlR{
  text-align: right;
}
img{
  width: 100%;
  height: auto;
}
.borde, .bordeUpDash, .bordeDownDash, #container{
  border-radius: 3px;
}
.borde{
  border: 1px solid #232323;
}
.bordeDash{
  border: 1px dashed #232323;
}
.bordeUpDash{
  border-top: 0.7px dashed #333;
}
.bordeDownDash{
  border-bottom: 0.7px dashed #333;
}
.success{
  background-color: #35c7a3;
}
.warning{
  background-color: #e9cc27;
}
.danger{
  background-color: #e73f79;
}
.prim1{
  background-color: #def;
}
.prim2{
  background-color: #7ebfff;
}
.prim3{
  background: #c2e7e5;
}
.prim4{
  background: #7fe7e3;
}
.prim1:hover, .prim2:hover, .prim3:hover, .prim4:hover{
  cursor: pointer;
  box-shadow: 2px 2px 2px #3e6793;
}
.prim1:hover{
  background-color: #93a3c7;
}
.prim2:hover{
  background-color: #5e9fdf;
}
.prim3:hover{
  background: #a2c7c5;
}
.prim4:hover{
  background: #5fc7c3;
}
/*Quitar al final*/
div{
  border: 0.5px dashed #aaf;
  margin: 1px;

}  
@media (min-width: 750px) { 
  *{
    font-size: 10px;
  }
}
@media (min-width: 900px) { 
  *{
    font-size: 11px;
  }
}
@media (min-width: 1100px) { 
  *{
    font-size: 12px;
  }
}
@media (min-width: 1300px) { 
  *{
    font-size: 13px;
  }
}
@media (min-width: 1500px) { 
  *{
    font-size: 15px;
  }
}
@media (min-width: 1700px) { 
  *{
    font-size: 16px;
  }
}
@media (min-width: 2000px) { 
  *{
    font-size: 17px;
  }
}
